@model IEnumerable<Client>

<h2>Contact Manager</h2>

<h3>Contact List</h3>
<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    @if(Model != null)
    {
        @foreach(var contact in Model)
        {
        <tr>
          <td>@contact.FirstName</td>
          <td>@contact.LastName</td>
          <td>@contact.Addresses</td>
          <td>
            <a asp-controller="Contacts" asp-action="Edit" asp-route-id="@contact.Id">Edit</a>
            |
            <a asp-controller="Contacts" asp-action="Delete" asp-route-id="@contact.Id">Delete</a>
          </td>
        </tr>
        }      
    }
  </tbody>
</table>

<p><a asp-controller="Contacts" asp-action="Create" class="btn btn-default">Add a new Contact</a></p>


